
html {
  overflow-x: hidden;
}

#navbar-banner {
  background-color: #388b;
}

.products{
    display: flex;
    width: 400px;
    padding: 15px;
    /* background-color: lavender;
    border: 1px solid rgb(208, 208, 244); */
    background-color: lightgray;
    border: 1px solid darkgray;
    /* justify-content: center; */
    margin: 10px;
    /* border: 2px solid red; */
    text-align: center;

  }

.product-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.title {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: bold;
}

#product1{
  cursor: pointer;
  border: solid 20px whitesmoke;
  margin: 10px;

}

  #banner1, #banner2, #banner3 {
    object-fit: contain;
  }

  #price {
    position: absolute;
    align-self: flex-start;
    background-color: whitesmoke;
    padding: 3px;
    border: 1px solid red;
  }

  .total {
    line-height: 2.5;
    margin-left: 10px;
    width: 90px;
    /* color: whitesmoke; */

  }

  .brand:hover {
    transition: all .5s;
    color: rgb(50, 50, 192);
  }

  .basket-count {
    line-height: 2.5;
    width: 9.77px;
  }

  .s-dropdown {
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(208, 208, 244);
    overflow: visible;
    position: absolute;
    left: 1620px;
    width: 200px;
  }

  .s-dropdown-row {
    cursor: pointer;
    text-align: start;
    /* margin: 2px 0; */
  }

  .caro {
    margin-top: 20px;
  }

  .delete {
    margin-left: 10px;
    margin-right: 10px;
  }

  .p-overview {
    text-align: center;
    margin: auto auto;
    padding: 10px;
    border: 1px solid black;
    height: 500px;
    width: 420px;
    background-color: #cfcfc4 ;
    
  }

  .p-overview-desc {
    font-weight: bold;
  }

 a {
  color: black;
  text-decoration: none;
 }

 .basket {
  text-align: center;

 }

 .brand {
  line-height: 2.5;
 }

 .me-2 {
  width: 300px;
 }