html {
  overflow-x: hidden;
}

.bg-light {
  background-color: #388b !important;
}

.products {
  display: flex;
  width: 400px;
  padding: 15px;
  background-color: lightgray;
  border: 1px solid darkgray;
  margin: 10px;
  text-align: center;
}

.product-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.title {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: bold;
}

#product1 {
  cursor: pointer;
  border: solid 20px whitesmoke;
  margin: 10px;
}

#banner1,
#banner2,
#banner3 {
  object-fit: contain;
}

#price {
  position: absolute;
  align-self: flex-start;
  background-color: whitesmoke;
  padding: 3px;
  border: 1px solid red;
}

.total {
  margin-top: 16px;
  margin-left: 10px;
  width: 90px;
}

.brand:hover {
  transition: all 0.5s;
  color: rgb(50, 50, 192);
}

.basket-label {
  margin-top: 16px;
}
.basket-count {
  margin-top: 16px;
  width: 9.77px;
}
.basket-products {
  display: flex;
  box-shadow:0px 1px 5px black;
  margin-bottom: 10px;
}

.basket-img-box {
  background-color: lightgrey;
  padding: 10px;
}

.basket-info {
  margin: 0 10px;
}

.basket-info button {
  width: 50px;
  margin-left: 20px;
  border-radius: 16px;
  padding-left: 8px;
  padding-right: 8px;
}

.items-none {
  box-shadow:0px 1px 3px black;
  opacity: 0.5;
  width: 370px;
  position: relative;
  margin: 25vh auto 0;
  text-align: center;
}

.s-dropdown {
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(208, 208, 244);
  overflow: visible;
  position: absolute;
  left: 1620px;
  width: 200px;
}

.s-dropdown-row {
  cursor: pointer;
  text-align: start;
}

.caro {
  margin-top: 20px;
}

.delete {
  margin-left: 10px;
  margin-right: 10px;
}

.p-overview {
  text-align: center;
  margin: auto auto;
  padding: 10px;
  border: 1px solid black;
  height: 500px;
  width: 420px;
  background-color: #cfcfc4;
}

.p-overview-desc {
  font-weight: bold;
}

a {
  color: black;
  text-decoration: none;
}

.basket {
  text-align: center;
}

.brand {
  line-height: 2.5;
}

.me-2 {
  width: 300px;
}
